blockquote {
            font-style: italic
           }
/*.jumbotron {
            margin-top: 0;
            margin-bottom: 0; */
           }
p.figcap {
    color: red;
    font-size: 14px;
    text-align: center; 
    font-style: italic;
   }
p {
  text-align: justify;
  word-spacing: 1px;
  font-size: 16px;
  font-weight:400;
  } 
body {
      text-align: justify;
      word-break: normal; 
      font-size: 16px;
      font-weight:400;
     } 

