/** blockquote {
  font-style: italic
}
/*.jumbotron {
  margin-top: 0;
  margin-bottom: 0; 
}
p.figcap {
  color: red;
  font-size: 14px;
  text-align: center; 
  font-style: italic;
}
p {
  text-align: justify;
  word-spacing: 1px;
  font-size: 16px;
  font-weight:400;
} 
body {
  text-align: justify;
  word-break: normal; 
  font-size: 16px;
  font-weight:400;
} **/

h1 {
    color:#c09f80; /*9099a2;*/
    font-family:"Playfair Display";
    font-weight: 500;
    font-style: normal;
    size = 28; 
    font-stretch: normal;
    text-align: left;
   }

h2 {
  font-family: "Audiowide", sans-serif;
  /**background-color:#f1f5fa;**/
  color: #f0810f; /*fc4a1a;*/
  text-align: left;
}

h3 {
  font-family:"Montserrat";
  color:#8e9b97;
  padding: 5px;
  text-align: left;
}
#header-image {
  border: none;
}

img {
  border: 2px solid #9099a2;
}

iframe {
  border: 3px solid #9099a2;
}
hr {
     height:1px;
     border-width:0;
     color:#9099a2;
     background-color:#b38540
}
body {
       font-size:18px;
       color:#2d4262;
       font-family:Outfit;
       font-weight:400;
       line-height: 1.3;
       text-align: justify;
       font-style: normal;
       font-stretch:normal;
 }
 
/* Styling clickable links */
a {
  color: #f0810f;
}
/*
a:link {
  color: #f0810f;
}

a:visited {
  color: #92aac7;
}**/
 
 /* Styling the banner page quote **/
.quote {
  /* background-color: #9099a2; */
  font-size: 24px;
  font-family: Outfit;
  font-style: italic;
  color: #c09f80; /*fea680;/*465c8b; /* #30415d; */
  margin: 0 0 0 0;
}

.quote cite { /*This is not used. If name was used for the quote */
  font-size: 16px;
  font-style: italic;
  color: #9099a2;
}
/* End Styling the banner page quote **/

/* For the Case study H1 a decorative box style */
#box_bkgd {
  border-radius: 10px;
  /**border-style: solid #cdcdc0;**/
  border: 2px solid #c5dbf6;
  padding: 5px;
  background: #f1f5fa;  
  background-clip: padding-box;
}

/* For the gallery H1 a decorative box style */
#box_bkgd_glry {
  border-radius: 10px;
  border-style: solid;
  border: 2px solid #cdcdc0;
  padding: 2px;
  background: #f4f2ed;
  background-clip: padding-box;
  text-align: center;
}

/* Case studies industry section styling */
.industry_p {
  color: #0375b4;
  font-size: 16px;
  font-style: italic;
}

/** Services box decor **/
#anlyTicServ {
  border-radius: 10px;
  border-style: solid #cdcdc0;
  border: 5px solid #cdcdc0;
  padding: 5px;
  background: #f4f2ed;
  background-clip: padding-box;  
}

#strtgyDev {
  border-radius: 10px;
  border-style: solid #d9dde7;
  border: 5px solid #d9dde7;
  padding: 5px;
  background: #f2f4fa;
  background-clip: padding-box;  
}

#softDev {
  border-radius: 10px;
  border-style: solid #d6cca7;
  border: 5px solid #d6cca7;
  padding: 5px;
  background: #fffbed;
  background-clip: padding-box;  
}
#dataViz {
  border-radius: 10px;
  border-style: solid #9fc4c9;
  border: 5px solid #9fc4c9;
  padding: 5px;
  background: #e4f9fc;
  background-clip: padding-box;  
}
#auTomt {
  border-radius: 10px;
  border-style: solid #e1c8c5;
  border: 5px solid #e1c8c5;
  padding: 5px;
  background: #fcf1f0;
  background-clip: padding-box;  
}
#advAnlytc {
  border-radius: 10px;
  border-style: solid #cad9ad;
  border: 5px solid #cad9ad;
  padding: 5px;
  background: #f2f9e2;
  background-clip: padding-box;  
}
#trainIng {
  border-radius: 10px;
  border-style: solid #d6cd86;
  border: 5px solid #d6cd86;
  padding: 5px;
  background: #fef7c2;
  background-clip: padding-box;  
}
</style>